<h1><%= @attraction.name %></h1>

<ul>
<li>Ticekts Needed: <%= @attraction.tickets %></li>
<li>Nausea Rating: <%= @attraction.nausea_rating %></li>
<li>Amount of Fun: <%= @attraction.happiness_rating %></li>
<li>Height Requirement: <%= @attraction.min_height %></li>

<% if current_user.admin? %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% end %>

<form method="post" action="/rides">

<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
<%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
<%= tag(:input, :type => "hidden", :name => :attraction_id, :value => @attraction.id) %>
<input type="submit" value="Go on this ride">

</form>
</ul>
